:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --secondary-accent-color: #212121;
    --third-accent-color: #757575;
    --primary-logo-color-theme-light: #000000;
    --primary-logo-color-theme-dark: #ffffff;
    --fourth-accent-color: #F5F4FA;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


.hero,
.footer {
    background-color: #2f303a;
}

body {
    font-family: var(--primary-font-family);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.what-we-do {
    padding-top: 0px;
}

.section-title {
    margin-bottom: 50px;
}

/*=========== COMPONENTS ===========*/
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-accent-color);
}

/*=========== /COMPONENTS ===========*/

/*=========== HEADER ===========*/
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-contacts {
    display: flex;
    margin-left: auto;
}

.header-contact-item:not(:last-child) {
    margin-right: 50px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}




.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 92px;
}

.logo-color-theme-light {
    color: var(--primary-logo-color-theme-light);
}

.logo-color-theme-dark {
    color: var(--primary-logo-color-theme-dark);
}

.menu-link {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.link.current {
    color: var(--accent-color);
}


.header-contact-link {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color);
}

.header-contact-link:hover .logo-img,
.header-contact-link:focus .logo-img {
    fill: var(--accent-color);
}

.logo-img-email {
    justify-content: flex-end;
}

.logo-img {
    display: flex;
    margin-right: 10px;
    fill: var(--third-accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.e-mail {
    width: 161px;
}

.current {
    position: relative;
}

.current::after {
    content: '';
    display: block;
    position: absolute;
    top: 96.5%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}


/*=========== /HEADER ===========*/

/*=========== HERO ===========*/
.hero {
    max-width: 1600px;
    padding: 200px 0px 200px 0px;
    text-align: center;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/bg.png');
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}

.hero-modal-btn {
    min-width: 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
    border-width: 0px;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
    background-color: #188ce8;
}

/*=========== /HERO ===========*/

/*=========== ADVANTAGES ===========*/
.advantages-list {
    display: flex;
}

.advantages-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    margin-bottom: 10px;
    width: 270px;
}

.advantages-list-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-accent-color);
}

.advantags-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--fourth-accent-color);
}

.advantages-icon-item {
    fill: var(--secondary-accent-color);
}



/*=========== /ADVANTAGES ===========*/

/*=========== WHAT WE DO ===========*/
.what-we-do-section {
    display: flex;
}

.what-we-do-gallery-item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do-card {
    position: relative;
    overflow: hidden;
}

.what-we-do-description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

/*=========== /WHAT WE DO ===========*/

/*=========== OUR TEAM ===========*/
.employees-section {
    background-color: var(--fourth-accent-color);
}

.employees-list {
    display: flex;
}

.employees-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employees-card:not(:last-child) {
    margin-right: 30px;
}

.employees-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-accent-color);
    margin-bottom: 10px;
}

.employees-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-accent-color);
    margin-bottom: 16px;
}

.employees-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: #ffffff;
}

/*=========== /OUR TEAM ===========*/


/*=========== OUR CLIENTS ===========*/
.clients-list {
    display: flex;
}

.clients-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-list-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
    border: 1px solid var(--accent-color)
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
    fill: var(--accent-color);
}

.clients-list-item:not(:last-child) {
    margin-right: 30px
}


/*=========== /OUR CLIENTS ===========*/

/*=========== FILTER ===========*/
.filter-modal-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-modal-btn-item:not(:last-child) {
    margin-right: 8px;
}

.modal-btn-1 {
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
}

.modal-btn-2 {
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
}

.modal-btn-3 {
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
}

.modal-btn-4 {
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
}

.modal-btn-5 {
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
}

.filter-modal-btn-link {
    border: 0px;
}

.filter-modal-btn-link {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-accent-color);
    background: #f5f4fa;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-modal-btn-link:hover,
.filter-modal-btn-link:focus {
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*=========== /FILTER ===========*/

/*=========== PORTFOLIO ===========*/

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-accent-color);
}




.portfolio-filter {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--third-accent-color);
    margin-top: 4px;
}

.portfolio-gallery-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-gallery-item {
    margin-bottom: 30px;
    background: #FFFFFF;
}

.portfolio-gallery-item:nth-child(n +6) {
    margin-bottom: 0px;
}

.portfolio-gallery-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;

}

.portfolio-item {
    width: 370px;
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-link-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 62px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-link:hover .portfolio-link-overlay,
.portfolio-link:focus .portfolio-link-overlay {
    transform: translateY(0%);
}

/*=========== /PORTFOLIO ===========*/

/*=========== FOOTER ===========*/

.footer-contacts-info {
    flex-grow: 1;
}

/*=========== CONTACT INFORMATION ===========*/
.contact-list-map-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-map-link:hover,
.contact-list-map-link:focus {
    color: var(--accent-color);
}

.contact-list-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}

.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    margin-right: 0px;
}

.address {
    margin-top: 20px;
}

.footer-title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.footer-list {
    display: flex;
}

.footer-social-list:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

.footer-social-list-icon {
    fill: #FFFFFF;
}

.footer-social-link:hover .footer-social-list-icon,
.footer-social-link:focus .footer-social-list-icon {
    fill: #ffffff;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-social {
    margin-left: 70px;
}

.footer-subscription {
    margin-left: 92px;
}

.subscription-form-field {
    display: flex;
    margin-right: auto;

}

.subscription-modal-btn {
    min-width: 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
    border-width: 0px;
    border-radius: 4px;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
}

.subscription-modal-btn:hover,
.subscription-modal-btn:focus {
    background-color: #188ce8;
}

.subscription-modal-btn-icon {
    margin-left: 10px;
}

.subscription-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:not(:placeholder-shown) {
    color: #FFFFFF;
}

.subscription-input:focus,
.subscription-input:hover {
    border: 1px solid #188ce8;
}

/*=========== /CONTACT INFORMATION ===========*/
/*=========== BACKDROP ===========*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    ;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: rgb(255, 255, 255);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    fill: var(--accent-color);
}

/*=========== /BACKDROP ===========*/
/*=========== FORM ===========*/
.contact-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-accent-color);
    display: block;
    margin-bottom: 12px;
}

.contact-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact-form-field-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--third-accent-color);
    margin-bottom: 4px;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.contact-form-message {
    resize: none;
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-field-message {
    margin-bottom: 20px;
}


.contact-form-message:hover,
.contact-form-message:focus-within {
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.contact-form-input-wrapper {
    position: relative;

}


.contact-form-icon {
    position: absolute;
    fill: var(--secondary-accent-color);
    top: 14px;
    left: 14px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-wrapper:hover .contact-form-input,
.contact-form-input-wrapper:focus-within .contact-form-input {
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.contact-form-input-wrapper:focus-within .contact-form-icon,
.contact-form-input-wrapper:hover .contact-form-icon {
    fill: #2196F3;
}

.contact-form-message::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid var(--secondary-accent-color);
    cursor: pointer;
    border-radius: 2px;
    margin-right: 8px;
}

.policy-user {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-accent-color);
}

.policy {
    color: var(--accent-color);
}

.contact-form-checkbox:checked+.contact-form-checkbox-label::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/icon/mark-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.contact-form-checkbox:focus+.contact-form-checkbox-label::before {
    outline: 1px solid var(--secondary-accent-color);
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.contact-modal-btn {
    align-self: center;
    min-width: 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-modal-btn:hover,
.contact-modal-btn:focus {
    background-color: #188ce8;
}

/*=========== /FORM ===========*/