.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 92px;
}

.logo__theme-light_color {
    color: var(--primary-logo-color-theme-light);
}

.logo__theme-dark_color {
    color: var(--primary-logo-color-theme-dark);
}